{% extends 'movies/base.html' %}

{% block title %}Movies Listing @ GV Cinema{% endblock %}

{% block content %}
    <input type="text" id="searchInput" placeholder="Search movies ..." class="form-control mt-3 mb-4">

    <h4 class="font-weight-bold mb-3">Popular movies this month</h4>
    <div class="row">
        {% for movie in movies %}
            <div class="col-md-3 mb-4">
                <a href="{% url 'movies:movie_detail' movie.id %}" style="text-decoration: none; color: inherit;">
                    <div class="card border-0">
                        <img src="{{ movie.imgPath.url }}" alt="{{ movie.name }}" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold">{{ movie.name }}</h5>
                            <p class="card-text">{{ movie.duration }} minutes
                                <br/>
                                User rating : {{ movie.userRating }}
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>

    <script>
        // Debounce function for keyup events
        function debounce(func, wait) {
            let timeout;
            return function executedFunction(...args) {
                const later = () => {
                    clearTimeout(timeout);
                    func(...args);
                };
                clearTimeout(timeout);
                timeout = setTimeout(later, wait);
            };
        }

        // Function to perform search
        function performSearch() {
            const query = document.getElementById('searchInput').value;
            // Perform your asynchronous search here (e.g., AJAX request)
            // Update the movie list based on the search result
            // For simplicity, let's assume there is an endpoint 'search_movies'
            fetch(`{% url 'movies:movie_list' %}?q=${query}`, {
                method: 'GET',
                headers: {
                "Content-Type":"application/json",
                "Accept": "application/json",
                "x-requested-with": "XMLHttpRequest",
                }
                })
                .then(response => response.json())
                .then(data => {
                    // Update the movies on the page with the search results
                    const moviesContainer = document.querySelector('.row');
                    moviesContainer.innerHTML = data.map(movie => (
                        `<div class="col-md-3 mb-4">
                            <a href="/movies/detail/${movie.id}" style="text-decoration: none; color: inherit;">
                                <div class="card border-0">
                                    <img src="${movie.imgPath}" alt="${movie.name}" class="card-img-top">
                                    <div class="card-body">
                                        <h5 class="card-title font-weight-bold">${movie.name}</h5>
                                        <p class="card-text">${movie.duration} minutes
                                            <br/>
                                            User rating: ${movie.userRating}
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>`
                    )).join('');
                })
                .catch(error => console.error('Error:', error));
        }

        // Attach the debounced search function to the keyup event
        document.getElementById('searchInput').addEventListener('keyup', debounce(performSearch, 300));
    </script>
{% endblock %}
