{% extends 'movies/base.html' %}

{% block title %}{{ movie.name }} - Movie Detail{% endblock %}

{% block content %}
    <a href="{% url 'movies:movie_list' %}" class="btn btn-outline-primary mb-3">Back</a>
    <h4 class="font-weight-bold mb-3">{{ movie.name }}</h4>
    <p>({{ movie.mpaaRating.type }} - {{ movie.mpaaRating.label }})</p>
    <div class="row">
        <div class="col-md-4">
            <img src="{{ movie.imgPath.url }}" alt="{{ movie.name }}" class="img-fluid">
        </div>
        <div class="col-md-8">
            <h2 class="font-weight-bold">{{ movie.name }}</h2>
            <p>{{ movie.duration }} minutes</p>
            <p>Language: {{ movie.language }}</p>
            <p>Genres: {% for genre in movie.genre.all %}{{ genre.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
            <p>MPAA Rating: {{ movie.mpaaRating.type }} - {{ movie.mpaaRating.label }}</p>
            <p>User Rating: {{ movie.userRating }}</p>
            <h4 class="mt-4">Synopsis</h4>
            <p>{{ movie.description }}</p>
        </div>
    </div>
{% endblock %}
